<!DOCTYPE html>
<html>
<head>
    <title>Gambar Flask</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            function updateImage() {
                $.ajax({
                    url: "/update_image",
                    type: "GET",
                    dataType: "json",
                    success: function(response) {
                        var imageSrc = response.image_path;
                        $("#gambar").attr("src", imageSrc);
                    }
                });
            }

            setInterval(updateImage, 2000); // Perbarui gambar setiap 2 detik
        });
    </script>
</head>
<body>
    <img id="gambar" src="" width="300" height="300">
</body>
</html>
